main{
    display: flex;
}

main img{
    border-radius: 0;
    box-shadow: none;
}

.cadastroForms{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.cadastroForms form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 20px;
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.links a{
    color: #ffffff;
    background-color: transparent;
    font-weight: 500;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    background-color: #080B2A;
}

button.linkLogin {
    color: #3647ff;
    background-color: transparent;
    font-weight: 500;
    text-decoration: underline;
    border: none;
    transition: ease 0.3s;
}

.cadastroForms label{
    color: #080B2A;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 20px;
}

.inputBox{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.inputBox input{
    font-size: 15px;
    width: 87.5%;
    border-radius: 10px;
    outline: none;
    border: solid 3px rgba(0, 0, 0, 0.080);
    padding: 15px;
    transition: ease 0.3s;
    
}

.cadastroForms .Cadastrar{
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: center;
    width: 100%;
    background-color: #080B2A;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    transition: ease 0.3s;
}

input:focus{
    border: solid 3px #3647ff;
}

.gridBox{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    justify-content: center;
    align-items: center;
}