main{
    display: flex;
}

main img{
    border-radius: 0;
    box-shadow: none;
}

.loginForms{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin: auto 100px;
    margin-left: 200px;
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.links a{
    color: #3647ff;
    font-weight: 500;
    text-decoration: underline;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: auto;
    justify-content: center;
    align-self: center;
}

label{
    color: #080B2A;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
}

input{
    font-size: 15px;
    width: 80%;
    border-radius: 10px;
    outline: none;
    border: solid 3px rgba(0, 0, 0, 0.080);
    padding: 15px;
    transition: ease 0.3s;
}

button{
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: center;
    width: 85%;
    background-color: #080B2A;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

input:focus{
    border: solid 3px #3647ff;
}